In [32]:
# IMPORTING LIBRARIES

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [33]:
# Using the imdb-5000-movie-dataset
# license - http://opendatacommons.org/licenses/dbcl/1.0/

imdb_data = pd.read_csv('imdb-data.csv')
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32135 non-null  int64
 1   Ranking             32135 non-null  object
 2   Title               32135 non-null  object
 3   Release Year        32135 non-null  object
 4   Duration(Min.)      32135 non-null  object
 5   Genre               32135 non-null  object
 6   Sub Genres          32135 non-null  object
 7   User Rating         32135 non-null  float64
 8   Directors & Actors  32135 non-null  object
 9   Votes               32135 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.5+ MB

In [34]:
imdb_data.isnull().sum()

Unnamed: 0            0
Ranking               0
Title                 0
Release Year          0
Duration(Min.)        0
Genre                 0
Sub Genres            0
User Rating           0
Directors & Actors    0
Votes                 0
dtype: int64

In [31]:
imdb_data.drop_duplicates(inplace=True)
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32134 entries, 0 to 32134
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32134 non-null  int64
 1   Ranking             32134 non-null  object
 2   Title               32134 non-null  object
 3   Release Year        32134 non-null  object
 4   Duration(Min.)      32134 non-null  object
 5   Genre               32134 non-null  object
 6   Sub Genres          32134 non-null  object
 7   User Rating         32134 non-null  float64
 8   Directors & Actors  32134 non-null  object
 9   Votes               32134 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.7+ MB

In [29]:
raw_data = pd.read_csv('raw-data.csv')

raw_data.nlargest(10,'User Rating')

,Unnamed: 0,Ranking,Title,Release Year,Duration(Min.),Genre,User Rating,Votes,Sub Genre 1,Sub Genre 2,Director,Actor #1,Actor #2,Actor #3,Actor #4
3837,4123,1,Hababam Sinifi,1975,87,3,9.3,36393,4,6,1432,2473,4435,2644,8013
8458,11314,2,The Shawshank Redemption,1994,142,5,9.3,2287737,6,-1,1523,4402,4406,895,8610
3838,4124,2,Love on a Leash,2011,90,3,9.2,6560,4,6,1477,1579,5512,3114,7797
7481,8813,1,The Godfather,1972,175,4,9.2,1579160,5,6,1508,2937,108,3050,2065
7482,8814,2,Aynabaji,2016,147,4,9.1,19976,5,14,232,720,4064,829,6449
0,0,1,The Dark Knight,2008,152,0,9.0,2252769,0,5,874,802,2277,10,5739
3170,3373,1,Al-ris√¢lah,1976,207,2,9.0,7287,3,6,3461,17,4393,2647,277
3839,4125,3,Tosun Pasa,1976,90,3,9.0,21033,4,10,2694,2473,4434,69,7507
3840,4126,4,Hababam Sinifi Sinifta Kaldi,1976,91,3,9.0,21251,4,-1,1432,2473,4435,6580,62
3841,4127,5,Maratonci trce pocasni krug,1982,92,3,9.0,14151,4,6,4475,537,1311,5686,5914