In [2]:
# IMPORTING LIBRARIES

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [13]:
# Using the imdb-5000-movie-dataset
# license - http://opendatacommons.org/licenses/dbcl/1.0/

imdb_data = pd.read_csv('imdb-data.csv')
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32135 non-null  int64
 1   Ranking             32135 non-null  object
 2   Title               32135 non-null  object
 3   Release Year        32135 non-null  object
 4   Duration(Min.)      32135 non-null  object
 5   Genre               32135 non-null  object
 6   Sub Genres          32135 non-null  object
 7   User Rating         32135 non-null  float64
 8   Directors & Actors  32135 non-null  object
 9   Votes               32135 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.5+ MB

In [17]:
imdb_data.isnull().sum()

Unnamed: 0            0
Ranking               0
Title                 0
Release Year          0
Duration(Min.)        0
Genre                 0
Sub Genres            0
User Rating           0
Directors & Actors    0
Votes                 0
dtype: int64

In [19]:
imdb_data.drop_duplicates(inplace=True)
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32134 entries, 0 to 32134
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32134 non-null  int64
 1   Ranking             32134 non-null  object
 2   Title               32134 non-null  object
 3   Release Year        32134 non-null  object
 4   Duration(Min.)      32134 non-null  object
 5   Genre               32134 non-null  object
 6   Sub Genres          32134 non-null  object
 7   User Rating         32134 non-null  float64
 8   Directors & Actors  32134 non-null  object
 9   Votes               32134 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.7+ MB

In [16]:
raw_data = pd.read_csv('raw-data.csv')

raw_data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12152 entries, 0 to 12151
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      12152 non-null  int64
 1   Ranking         12152 non-null  int64
 2   Title           12152 non-null  object
 3   Release Year    12152 non-null  int64
 4   Duration(Min.)  12152 non-null  int64
 5   Genre           12152 non-null  int64
 6   User Rating     12152 non-null  float64
 7   Votes           12152 non-null  int64
 8   Sub Genre 1     12152 non-null  int64
 9   Sub Genre 2     12152 non-null  int64
 10  Director        12152 non-null  int64
 11  Actor #1        12152 non-null  int64
 12  Actor #2        12152 non-null  int64
 13  Actor #3        12152 non-null  int64
 14  Actor #4        12152 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 1.4+ MB